<a href="https://colab.research.google.com/github/likhitha148/Machine_Learning/blob/main/Mobile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv('/content/train.csv')

In [ ]:
data

      battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0               842     0          2.2  ...             0     1            1
1              1021     1          0.5  ...             1     0            2
2               563     1          0.5  ...             1     0            2
3               615     1          2.5  ...             0     0            2
4              1821     1          1.2  ...             1     0            1
...             ...   ...          ...  ...           ...   ...          ...
1995            794     1          0.5  ...             1     0            0
1996           1965     1          2.6  ...             1     1            2
1997           1911     0          0.9  ...             1     0            3
1998           1512     0          0.9  ...             1     1            0
1999            510     1          2.0  ...             1     1            3

[2000 rows x 21 columns]

In [ ]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

In [ ]:
x

array([[8.420e+02, 0.000e+00, 2.200e+00, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       [1.021e+03, 1.000e+00, 5.000e-01, ..., 1.000e+00, 1.000e+00,
        0.000e+00],
       [5.630e+02, 1.000e+00, 5.000e-01, ..., 1.000e+00, 1.000e+00,
        0.000e+00],
       ...,
       [1.911e+03, 0.000e+00, 9.000e-01, ..., 1.000e+00, 1.000e+00,
        0.000e+00],
       [1.512e+03, 0.000e+00, 9.000e-01, ..., 1.000e+00, 1.000e+00,
        1.000e+00],
       [5.100e+02, 1.000e+00, 2.000e+00, ..., 1.000e+00, 1.000e+00,
        1.000e+00]])

In [ ]:
y

array([1, 2, 2, ..., 3, 0, 3])

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.20,random_state=9)

KNN ALGORITHM

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
modelknn=KNeighborsClassifier(n_neighbors=29)

In [ ]:
modelknn.fit(xtrain,ytrain)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=29, p=2,
                     weights='uniform')

In [ ]:
ypred=modelknn.predict(xtest)

In [ ]:
print(ypred)

[1 0 1 3 2 2 0 0 2 3 1 0 1 0 2 1 2 2 0 3 3 1 0 2 2 2 1 3 0 1 1 1 0 1 0 1 3
 1 3 3 3 3 0 0 0 2 0 3 2 3 0 2 3 3 1 0 2 1 3 3 0 1 0 0 1 1 2 3 0 0 1 3 3 2
 0 1 3 2 1 0 2 0 0 1 3 0 2 0 3 0 1 1 0 3 2 3 3 1 3 3 1 1 1 0 0 3 2 3 1 2 3
 2 1 1 3 0 3 2 1 0 2 1 2 3 2 2 1 1 1 3 2 1 2 1 3 0 2 0 2 1 3 3 3 2 3 0 3 0
 2 2 0 3 3 1 0 1 2 3 3 3 2 1 0 3 3 2 2 1 0 2 1 3 2 1 3 0 3 3 2 2 0 0 0 2 2
 2 0 3 3 2 1 1 1 1 3 2 1 0 3 3 1 2 1 2 0 3 1 3 0 1 0 0 3 2 0 1 2 0 2 0 0 3
 2 1 0 3 0 0 0 3 1 1 3 1 2 3 0 1 3 1 0 2 0 0 0 0 2 3 0 1 1 3 0 3 1 2 3 2 0
 1 2 0 1 0 2 1 1 0 0 0 1 2 1 0 1 1 0 2 3 2 1 0 0 2 3 3 1 1 3 1 0 0 3 3 1 1
 1 0 0 3 0 1 0 3 0 2 0 2 3 0 0 1 2 3 1 2 0 1 2 0 2 3 2 3 1 1 2 2 1 2 2 3 1
 1 3 3 0 2 2 0 0 2 0 1 3 2 2 1 3 0 3 2 0 0 2 0 0 1 0 1 3 0 1 2 2 1 3 1 2 3
 2 2 1 0 3 1 0 3 1 0 3 2 0 0 2 1 2 2 2 3 1 0 1 2 1 3 3 1 1 2]

In [ ]:
from sklearn.metrics import accuracy_score
knn_ac=print('KNN',accuracy_score(ytest,ypred)*100)
knn_ac

KNN 94.0

In [ ]:
print('KNN',model.predict([[1038,0,1.2,0,3,0,43,0.7,141,1,5,4,638,3709,11,0,12,1,1,1]]))

KNN [3]

LINEAR REGRESSION

In [ ]:
from sklearn.linear_model import LinearRegression
modellr=LinearRegression()
modellr.fit(xtrain,ytrain)#alg will start learning from the data
ypredlr=modellr.predict(xtest)

In [ ]:
from sklearn.metrics import mean_squared_error
import math

print(math.sqrt(mean_squared_error(ytest,ypredlr)))
lr_ac=print('LR',accuracy_score(ytest,ypred)*100)
lr_ac

0.3208059410395647
LR 94.0

In [ ]:
print('regression',model.predict([[1038,0,1.2,0,3,0,43,0.7,141,1,5,4,638,3709,11,0,12,1,1,1]]))

regression [3]

DECISION TREE

In [ ]:
from sklearn.tree import DecisionTreeClassifier
modeldt=DecisionTreeClassifier(criterion='gini')
modeldt.fit(xtrain,ytrain)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
ypreddt=modeldt.predict(xtest)
print(ypreddt)
dt_ac=print('DT',accuracy_score(ytest,ypreddt)*100)
dt_ac
print('Decison tree',modeldt.predict([[1038,0,1.2,0,3,0,43,0.7,141,1,5,4,638,3709,11,0,12,1,1,1]]))

[1 0 1 3 2 2 0 1 3 3 1 1 1 0 2 2 2 1 1 2 3 1 0 2 2 2 1 3 0 1 1 1 0 1 0 1 3
 1 3 3 3 3 0 1 1 2 0 3 2 3 0 2 3 3 1 0 2 2 2 3 0 2 1 0 1 1 2 3 0 0 1 3 3 2
 0 1 3 2 2 0 2 0 0 1 3 1 2 0 3 0 1 1 0 3 1 3 3 1 3 3 1 1 1 0 0 2 2 3 0 1 3
 2 0 1 3 0 3 2 1 0 2 1 2 3 2 2 1 2 2 3 2 1 2 0 3 0 2 0 2 2 3 3 3 1 3 0 3 0
 2 2 0 3 2 1 0 1 3 3 3 3 2 1 0 3 3 2 2 1 0 1 1 3 2 1 3 1 3 3 2 2 0 0 0 2 2
 2 0 3 3 1 1 1 0 1 3 2 1 1 3 2 1 2 1 2 0 3 1 3 0 1 0 0 3 2 0 1 2 0 2 0 0 3
 2 2 0 3 0 0 0 3 2 1 3 1 2 3 1 1 3 1 0 2 0 0 0 0 2 2 0 1 1 3 0 3 1 2 3 2 0
 1 2 0 2 0 2 1 0 0 0 0 2 2 0 0 1 1 0 2 3 2 1 0 0 2 3 3 1 1 3 1 1 0 3 3 1 1
 1 0 0 3 0 2 0 2 0 2 0 2 3 0 0 2 3 3 1 2 0 1 2 1 2 3 2 3 1 2 2 2 1 2 2 2 1
 1 2 3 0 2 1 0 0 2 0 2 3 2 2 1 3 0 3 2 0 0 2 0 0 1 0 1 2 0 1 2 2 1 3 2 1 2
 2 2 1 0 3 1 0 3 0 0 3 2 0 0 3 1 2 2 2 3 1 0 1 2 1 3 3 2 1 3]
DT 82.5
Decison tree [3]

NAVIE BAYES

In [ ]:
from sklearn.naive_bayes import GaussianNB #importing knn alg
modelNB=GaussianNB()#entrophy

In [ ]:
modelNB.fit(xtrain,ytrain)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
yprednb=modelNB.predict(xtest)
print(yprednb)
from sklearn.metrics import accuracy_score
nb_ac=print('NB',accuracy_score(ytest,ypreddt)*100)
nb_ac

[1 0 2 3 1 2 0 0 3 3 1 1 1 0 3 1 2 1 0 2 3 1 0 2 2 2 1 3 1 1 1 1 0 1 0 1 3
 1 3 3 3 3 0 1 0 2 0 3 2 3 0 3 3 3 1 0 2 1 2 3 1 1 0 0 1 1 2 3 0 0 1 3 3 2
 0 1 3 2 1 0 2 0 0 1 3 1 2 0 3 0 1 1 0 3 1 3 2 1 2 3 1 2 1 0 0 3 1 3 1 1 3
 2 1 1 3 0 3 2 1 0 2 1 2 3 2 2 1 1 1 3 2 1 2 0 3 0 2 0 2 1 3 3 3 1 3 0 3 0
 2 2 0 3 2 0 0 1 2 3 3 3 2 1 1 3 3 2 2 1 0 2 2 3 2 1 3 0 3 3 2 2 0 0 0 2 2
 1 0 3 3 1 1 1 0 1 3 2 1 0 3 3 1 1 1 2 0 3 1 3 0 1 0 0 3 3 0 2 3 0 2 0 0 2
 3 1 0 3 0 0 0 3 2 1 3 1 1 3 0 1 3 1 0 2 0 0 1 0 1 3 0 1 1 3 0 3 2 2 3 2 0
 2 2 0 2 0 2 1 1 0 0 0 1 1 1 0 1 1 0 3 3 2 1 0 0 2 3 3 1 1 3 1 0 0 3 3 0 1
 1 0 0 3 0 1 0 3 0 1 0 1 3 0 0 1 2 3 1 3 0 1 3 1 3 3 2 3 1 1 2 2 0 1 2 2 1
 1 3 3 0 2 1 0 0 2 0 1 3 2 2 2 3 0 3 2 0 1 2 0 0 1 0 1 3 0 1 2 2 1 3 1 2 3
 2 2 2 0 3 2 0 3 0 0 3 2 0 0 2 1 2 2 2 3 1 1 1 1 1 3 3 1 1 2]
NB 82.5

In [ ]:
print('naive bayes',model.predict([[1954,0,0.5,1,0,0,24,0.8,187,4,0,512,1149,700,16,3,5,1,1,1]]))

naive bayes [0]

SVM

In [ ]:
from sklearn.svm import SVC
modelsvm=SVC(kernel='linear')
modelsvm.fit(xtrain, ytrain)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
ypredsvm=modelsvm.predict(xtest)
print(ypred)
from sklearn.metrics import accuracy_score

In [ ]:
svm_ac=print('SVM',accuracy_score(ytest,ypredsvm)*100)
svm_ac

SVM 96.0

In [ ]:
print('SVM',model.predict([[1038,0,1.2,0,3,0,43,0.7,141,1,5,4,638,3709,11,0,12,1,1,1]]))

SVM [3]